/* Navigation */
.fluid-nav-logo {
  width: 12vw;
}

.fluid-nav-image {
  width: 2.5vw;
}

.fluid-nav-text {
  font-size: 1vw;
}

/* Content */
.fluid-content-title {
  font-size: 2.5vw;
}

.fluid-content-text {
  font-size: 1vw;
}

.fluid-content-button {
  font-size: 1.2vw;
}
